.query{
    float: left;
    height: 45%;
    width: 30%;
    background-color: rgb(238, 237, 235);
}
.result{
    float: right;
    height: 45%;
    width: 60%;
    /* background-color: rgb(235, 238, 235); */
}
.historypage{
    margin-top: 3%;
}
.catQuery{
    width: 35%;
}
.query{
    height: 40%;
    float: left;
    min-width:20%;
    max-width: 20%; 
    margin-left: 2%;
    margin-top: 15px;
    /* margin: auto; */
    background-color: rgb(238, 237, 235);
    text-align: left;
    padding: 12px;
    box-shadow: 1px 2px 4px black;
}